@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Source Code Pro", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
}

:root {
    --claro: #ffffff;
    --escuro: #040e29;
    --maisEscuro: #0a111d;
    --primaria: #0051ff;
    --secundaria: #091766;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    background-color:rgba(10, 21, 49, 0.8);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu {
    display: flex;
    gap: 3rem;
    justify-content: center;   
    list-style: none;
}
.menu-link{
    color: var(--claro);
    font-weight: 500;
    margin: 0 1rem; /* adicione uma margem de 2rem à esquerda e à direita */
    margin: 0 1rem; /* adicione uma margem de 1rem à esquerda e à direita */
    margin: 0 1rem; /* adicione uma margem de 1rem à esquerda e à direita */
    margin: 0 1rem; /* adicione uma margem de 1rem à esquerda e à direita */
    padding: 0.5rem 0;
    position: relative;
    text-decoration: none;
}

.menu-link::after {
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position:absolute;
    transition: width 0.5s ease;
    width: 0;
}


.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.foto-perfil{
    border-radius: 50%;
    border: 4px solid var(--vidro);
    box-shadow: 0 0 20px rgba(39, 107, 255, 0.288);
    height: 350px;
    margin-bottom: 1rem;
    width: 350px;        
}



h1 {
    color: var(--primaria);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 20px;
}

.sobre--mim {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    position: relative;
}

.sobre--mim {
    background-color: rgba(255, 255, 255, 0.2); /* cor de fundo transparente */
    border-radius: 10px; /* bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra */
    padding: 20px;
    width: 220px; /* largura do card */
    height: 50px; /* altura do card */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* efeito de borrado */
    box-shadow: 0 0 20px rgba(39, 107, 255, 0.288);
  }
  
  .card-content {
    text-align: center;
    color: #333; /* cor do texto */
  }
  
  .sobre--mim:hover {
    background-color: rgba(255, 255, 255, 0.267); /* cor de fundo mais opaca ao passar o mouse */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* sombra mais forte ao passar o mouse */
  }

.container-projetos {
    margin: 100px 0 0 100px;
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 14px;

    & p, h3 {
        text-align: center;
        font-size: 10px;}

        & h3{
            font-weight: bold;
            font-size: 14px;
        }

        & img {
            width: 200px;
            height: 150px;
        }
}

