* {
    box-sizing: border-box;
    font-family: "Cascadia Code", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;    
}

:root {
    --claro: #ffffff;
    --escuro: #0e1627;
    --maisEscuro: #0a0f1c;
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    background-color:rgba(12, 22, 49, 0.8);
    padding: .4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu {
    display: flex;
    gap: 3rem;
    justify-content: center;   
    list-style: none;
}
.menu-link{
    color: var(--claro);
    font-weight: 500;
    margin: 0 2rem; /* adicione uma margem de 2rem à esquerda e à direita */
    margin: 0 2rem; /* adicione uma margem de 2rem à esquerda e à direita */
    padding: 0.5rem 0;
    position: relative;
    text-decoration: none;
}

.menu-link::after {
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position:absolute;
    transition: width 0.5s ease;
    width: 0;
}


.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(82, 75, 211, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.sobre--mim {
    text-align: center;
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
}
